@use "../reset/variables" as var;
@use "../reset/mixins" as mx;

.admin-prods {
  .products-body {
    padding: 1rem;
    @include mx.flex($justify: space-between, $align: flex-start);

    .dash-head {
      flex-basis: 60%;
      height: 650px;
      overflow-y: scroll;
      padding: 0 0.3rem;

      h2 {
        margin-bottom: 16px;
      }

      .admin-products-title {
        @include mx.flex($justify: space-between);
        padding: 0.5rem;
        background-color: var.$primary-200;
        box-shadow: 0 0 30px rgba(0, 0, 0, 0.1);
        color: #fff;

        .title-name {
          flex-basis: 60%;
          text-align: center;
          text-transform: capitalize;
        }
        .title-price {
          text-align: center;
          flex-basis: 10%;
          text-transform: capitalize;
        }
        .title-actions {
          text-transform: capitalize;
          text-align: center;
          flex-basis: 15%;
        }
      }

      .admin-products-body {
        @include mx.flex($dir: column);

        li {
          @include mx.flex($justify: space-between);
          width: 100%;
          padding: 0.5rem;
          margin-top: 0.5rem;
          background-color: var.$primary-300;
          box-shadow: 0 0 30px rgba(0, 0, 0, 0.1);

          .details {
            flex-basis: 60%;
            @include mx.flex($justify: space-between);
            font-size: var.$fs-text;
            gap: 32px;

            a {
              color: var.$text-100;
              text-decoration: underline;
            }
          }

          span {
            flex-basis: 10%;
            text-align: center;
            color: var.$primary-200;
            font-weight: bold;
          }

          .buttons {
            flex-basis: 15%;
            @include mx.flex;
            gap: 16px;
          }
        }
      }
    }
    .add-product {
      flex-basis: 35%;
      position: relative;

      .close-prod {
        position: absolute;
        right: 10px;
      }

      form {
        @include mx.flex($dir: column);
        gap: 16px;

        label {
          @include mx.flex($justify: space-between);
          width: 100%;
          gap: 5px;
          font-size: var.$fs-text;

          input,
          textarea {
            flex-basis: 70%;
          }
        }
        select {
          appearance: none;
          -webkit-appearance: none;
          -moz-appearance: none;
          width: 100%;
          padding: 0.5rem 0.6rem;
          border: none;
          background-color: var.$bg-200;
          font-size: var.$fs-text;
          margin: 8px 0;
          color: var.$text-100;
          transition: box-shadow 0.2s ease-in-out;
          cursor: pointer;

          &:focus {
            outline: none;
            box-shadow: 1px 0px 6px 0px #61398fa6;
          }
        }
      }
    }
  }

  @include mx.desktop {
    .products-body {
      .dash-head {
        height: 500px;
      }
    }
  }
}
