@use "../reset/variables" as var;
@use "../reset/mixins" as mx;

.admin-cat {
  padding: 1rem;

  @include mx.flex($justify: space-between, $align: flex-start);

  .cat-body {
    flex-basis: 60%;
    .admin-categories {
      margin-top: 1rem;
      @include mx.flex($justify: flex-start);
      gap: 32px;

      li {
        box-shadow: 1px 4px 6px 2px #dfd8d8;
        padding: 1rem;
        flex-basis: 17%;
        @include mx.flex($dir: column);
        gap: 8px;
        border-radius: 5px;

        a {
          color: var.$text-100;
        }
        h3 {
          font-size: var.$fs-h6;
        }
        .buttons {
          @include mx.flex();
          gap: 10px;
        }
      }
    }

    .add-category {
      margin-top: 2rem;

      form {
        @include mx.flex(
          $justify: flex-start,
          $dir: column,
          $align: flex-start
        );
        gap: 10px;
        label {
          width: 40%;
          font-size: var.$fs-text;
          text-align: start;
          @include mx.flex($dir: column, $align: flex-start);

          input,
          textarea {
            width: 100%;
          }
        }
      }
    }
  }
}
