@use "../reset/variables" as var;
@use "../reset/mixins" as mx;

.admin-orders {
  padding: 1rem;

  .orders {
    height: 600px;
    .admin-orders-title {
      @include mx.flex($justify: flex-start);
      gap: 16px;
      background-color: var.$primary-200;
      color: #fff;
      padding: 0.5rem;
      text-transform: capitalize;
      margin-top: 0.6rem;

      .order-id {
        flex-basis: 7%;
      }

      .order-address {
        flex-basis: 16%;
      }

      .order-tn {
        flex-basis: 32%;
      }

      .order-status {
        flex-basis: 10%;
      }

      .order-total {
        flex-basis: 10%;
      }

      .order-actions {
        @include mx.flex();
        gap: 8px;
      }
    }

    .admin-orders-body {
      @include mx.flex($dir: column);
      gap: 8px;
      li {
        @include mx.flex($justify: flex-start);
        font-size: var.$fs-text;
        gap: 16px;
        padding: 0.5rem;
        margin-top: 0.3rem;
        width: 100%;
        box-shadow: 0 0 30px rgba(0, 0, 0, 0.1);

        .order-id {
          white-space: nowrap;
          overflow: hidden;
          text-overflow: ellipsis;
          width: 110px;

          a {
            color: var.$text-100;
            text-decoration: underline;
          }
        }

        .order-address {
          flex-basis: 16%;
        }

        .order-track {
          flex-basis: 32%;
        }

        .order-status {
          flex-basis: 10%;

          &.pending,
          &.cancelled {
            color: red;
          }

          &.paid,
          &.shipped,
          &.delivered {
            color: green;
          }
        }

        .order-total {
          flex-basis: 10%;
          color: green;
        }

        .buttons {
          @include mx.flex();
          gap: 8px;
        }
      }
    }
  }
}
