@use "../reset/variables" as var;
@use "../reset/mixins" as mx;

.categories {
  padding: 16px 256px;
  height: 750px;
  overflow-y: scroll;
  @include mx.flex($dir: column, $justify: flex-start);

  h2 {
    margin: 2rem 0;
    text-align: start;
    width: 100%;
  }
  ul {
    width: 100%;
    gap: 16px;

    @include mx.flex($justify: flex-start);
    li {
      flex-basis: 10%;
      box-shadow: 1px 4px 6px 2px #dfd8d8;
      background-color: var.$bg-200;
      border-radius: 5px;
      overflow: hidden;

      a {
        width: 100%;
        height: 100%;
        padding: 1rem;
        cursor: pointer;
        @include mx.flex;
        font-size: var.$fs-text;
        color: var.$text-100;
        font-weight: bold;
      }
    }
  }
}
