@use "../reset/variables" as var;
@use "../reset/mixins" as mx;

.store-container {
  @include mx.flex($justify: space-between, $align: flex-start);
  min-height: 88vh;
  padding: 2rem 6rem;

  .left-pane {
    flex-basis: 25%;

    h2 {
      @include mx.flex($justify: space-between);
      text-transform: uppercase;
      margin: 1rem 0;
      color: var.$primary-200;
      font-weight: 400;
      span {
        background-color: var.$primary-200;
        height: 2px;
        flex-basis: 50%;
      }
    }

    .inputs {
      padding: 1rem;
      @include mx.flex($dir: column);
      gap: 16px;
      border-radius: 0.3rem;
      background-color: #ffffff;
      box-shadow: 0 0 30px rgba(0, 0, 0, 0.1);

      div {
        width: 100%;
        @include mx.flex($justify: flex-start);
        gap: 16px;
        font-size: var.$fs-text;

        span {
          &:last-child {
            margin-left: auto;
          }
        }
      }
    }
  }

  .right-pane {
    flex-basis: 70%;
    @include mx.flex($dir: column);

    .store-search {
      margin: 1rem 0;
      padding: 0.2rem;
      background-color: #ffffff;
      box-shadow: 0 0 30px rgba(0, 0, 0, 0.1);
      width: 100%;
      border-radius: 5px;
      @include mx.flex($justify: space-between);

      svg {
        flex-basis: 5%;
      }

      form {
        flex-basis: 70%;

        input {
          width: 90%;
          padding: 0.5rem;
          border: 1px solid var.$text-200;
        }

        button {
          height: 42px;
        }
      }
      select {
        flex-basis: 10%;
        padding: 0.5rem;
      }
    }

    .product-list {
      @include mx.flex($justify: flex-start);
      margin: 2rem 0;
      gap: 45px;

      .product {
        flex-basis: 22%;
        height: 320px;
        padding: 1rem 0.8rem;
        list-style: none;
        background-color: #ffffff;
        box-shadow: 0 0 30px rgba(0, 0, 0, 0.1);
        border: 2px solid rgba(255, 255, 255, 0.6);
        backdrop-filter: blur(1px);
        border-radius: 2rem;
        overflow: hidden;

        display: flex;
        flex-direction: column;
        align-items: center;
        cursor: pointer;

        &:hover {
          background-color: rgba(255, 255, 255, 0.6);
        }

        .product-link {
          text-decoration: none;
          color: #030303;
          display: flex;
          flex-direction: column;
          align-items: center;
          overflow: hidden;
          height: 100%;
          width: 100%;

          .product-name {
            font-size: 1.1em;
            float: left;
          }

          .product-image {
            flex: 1;
            height: 50px;
            width: 180px;
          }
        }

        .product-footer {
          margin-top: auto;
          display: flex;
          align-items: center;
          justify-content: space-between;
          width: 100%;

          button {
            background-color: var.$primary-200;
            color: #fff;
            border: none;
            padding: 0.7rem 1.3rem;
            border-radius: 16px;
            cursor: pointer;
            box-shadow: 3px 2px 5px 0 rgba(0, 0, 0, 0.3);
          }
        }
      }
    }

    .page-numbers {
      width: 100%;
      @include mx.flex;
      gap: 10px;
      margin-top: auto;

      button {
        background-color: #6b7688;
        color: #fff;
        padding: 0.3rem 0.5rem;
        border: none;
        border-radius: 5px;
        cursor: pointer;

        &.active {
          background-color: var.$primary-200;
        }
      }
    }
  }
}
