@use "../reset/variables" as var;
@use "../reset/mixins" as mx;

nav {
  @include mx.flex($justify: space-around);
  // padding: 28px 64px;
  height: 80px;
  background: var.$bg-300;

  ul {
    @include mx.flex;
    gap: 20px;
    height: 100%;

    li {
      height: 100%;
      @include mx.flex;
      transition: all 0.1s;

      .cart {
        overflow: hidden;
        width: 65px;
        .cart-total {
          color: var.$primary-300;
          font-size: var.$fs-text;
          text-align: center;
          background-color: rgb(197, 56, 56);
          border-radius: 50%;
          padding: 4px 8px;
          margin-left: 4px;
        }
      }
      a {
        @include mx.flex;
        text-decoration: none;
        color: var.$text-100;
        font-weight: var.$fw-text;
        font-size: var.$fs-text;
        text-transform: capitalize;
        height: 100%;
        transition: all 0.3s;
      }

      &:hover {
        border-bottom: 3.5px solid var.$text-100;
      }
    }

    .cta {
      a {
        background-color: var.$primary-200;
        color: var.$primary-300;
        padding: 5px 10px;
        height: 40%;
        border-radius: 0.4rem;
      }
      &:hover {
        border: none;
        opacity: 0.8;
      }
    }
  }

  .logo {
    height: 100%;
    width: 90px;
    padding: 10px 0;

    a {
      display: block;
      height: 100%;
      width: 100%;
    }
  }
}
